@page
@model UCR.App.FrontEnd.Pages.DocentesModel
@{
}
<h1>Listado Docentes</h1>
<table class="table">

        @foreach(var docente in Model.Docentes)
    {
        <tr>
            <td>@docente.identificacion</td>
            <td>@docente.nombre</td>
            <td>@docente.appellidos</td>
            
           <td>
                <a class="btn btn-primary table-btn" asp-page="./Detalles" asp-route-docenteId="@docente.identificacion">
                <i class="fas fa-info-circle" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-secondary table-btn" asp-page="./Editar" asp-route-docenteIdentificacion="@docente.identificacion">
                <i class="fas fa-address-book" aria-hidden="true"></i>
                </a>
            </td>

        </tr>
    }

</table>